# Libraries for Apriori, FP-Growth, Decision Trees, Naive Bayes, K-Means, Correlation, etc.

# For Apriori and FP-Growth
mlxtend
apyori
efficient-apriori

# For Decision Trees
scikit-learn
graphviz

# For Naive Bayes
scikit-learn

# For K-Means Clustering
matplotlib

# For Correlation (Chi-Square and Pearson)
scipy
pandas
statsmodels
